.Logo{
    width: 140px;
    height: 60px;
}
.Main_Navbar{
    font-family: 'Montserrat', sans-serif;
}
.Name:hover{
    color: red;
}
.Navbar__Search{
    padding-left: 10px;
    font-size: 15px;
    color: gray;
    width: 310px;
    margin-top: 16px;
    padding-top: 3px;
    padding-bottom: 4px;
    border: none;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.Navbar_Search_Button{
    padding: 3px 10px 3px 10px;
    background-color: rgb(243, 255, 71);
    color: black;
    border: none;
    font-size: 14px;
    outline: none!important;
    border: none!important;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    transition: 0.2s all ease-in-out;
}
.Navbar_Search_Button:hover{
    background-color: rgb(236, 236, 0);
}

.Navbar__Icons{
    margin-top: 5px;
    font-size: 40px;
    color: yellow;
    margin-top: -5px;
    transition: all 0.2s ease-in-out;
}
.Navbar__Icons:hover{
    color: white;
    border-top: 3px solid yellow;
}
.Navbar__Cart__Count{
    background-color: green;
    color: white;
    width: 15px;
    font-weight: bold;
    height: 15px;
    font-size: 12px;
    border-radius: 100%;
}
.Navbar_Login_Button{
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: yellow;
    border: 1px solid green;
    outline: none!important;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.Navbar_Login_Button:hover{
    background-color: rgb(163, 255, 110);
    border: 1px solid grey;
    color: black;
}

@media (max-width: 770px){
    .Logo{
        height: 50px;
        width: 100px;
        padding: 0;
        margin: 0;
    }
    .Navbar__Search{
        padding: 0;
        padding-left: 5px;
        margin: 0;
        height: 25px;
        font-size: 12px;
    }
    .Navbar_Search_Button{
        padding: 0px 5px 0px 5px;
        margin: 0;
        height: 25px;
        font-size: 12px;
    }
    .Icons{
        margin-left: -100px;
    }
    .Navbar__Icons{
        font-size: 32px;
    }
    .Navbar_Login_Button{
        padding: 3px 10px 3px 10px;
        margin-left: 10px;
    }
}

@media(max-width: 362px){
    .Navbar__Search{
        width: 250px;
    }
}