.Categories_Button{
    border: none;
    width: 100%;
    color: rgba(0, 0, 0, 0.678);
}
.Categories_Button:hover{
    background-color: rgb(0, 0, 134);
    color: white;
}
.Item{
}
@media(max-width: 948px){
    .Categories_Button{
        font-size: 13px;
    }
}
@media(max-width: 850px){
    .Categories_Button{
        display: none;
        border: none;
    }
    .Item{
        border: none;
    }
  
}
@media(max-width: 850px){
    .All_Categories{
        padding: 0;
        width: 100%;

        text-align: center;
        display: block;
    }
    .Lol{
        display: flex;
        justify-content: center;
        border: none;
        border-bottom: 1px solid grey;
    }
}