.Categories{
    background-color: rgb(193, 240, 197);
}
.All_Categories{
    width: 100%;
    font-size: 16px;
    outline: none!important;
    color: rgb(48, 48, 48);
    padding: 0px 20px 0.5px 20px;
    background-color: rgb(193, 240, 197);
}
.All_Categories:hover{
    background-color: rgb(148, 247, 156);
    color: black;
}
.Categories_Button{
    width: 100%;
    font-size: 16px;
    color: rgb(71, 71, 71);
    background-color: rgb(193, 240, 197);
}
.Categories_Button:hover{
    background-color: rgb(148, 247, 156);
    color: black;
}
@media(max-width: 948px){
    .Categories_Button{
        font-size: 13px;
    }
}
@media(max-width: 850px){
    .Categories_Button{
        display: none;
    }
    .All_Categories{
        padding: 0;
        text-align: center;
        display: block;
        outline: none!important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .All_Categories:hover{
        background-color: rgb(4, 255, 25);
    }
    .Categories:hover{
        background-color: rgb(4, 255, 25);
    }
}