.Bick_Cards{
    height: 275px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.548);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}
.Bick_Cards:hover{
    border: 1px solid green;
    box-shadow: .1px .1px 8px rgb(0, 0, 0) ;
}
.Bick_Images{
    width: 100%;
    height: 130px;
    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 3px;
}
.Bick_Names{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
.Bick_Ratings{
    color: gold;
    font-size: 12px;
}
.Bick_Stocks{
    font-size: 10px;
    font-weight: 500;
}
.Bick_Price{
    font-weight: bold!important;
    font-size: 12px;
    font-weight: 500;
}
.Bick_AddToCart_Button{
    background-color: black;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px 20px 5px 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid yellow;
    outline: none!important;
    transition: all .2s ease-in-out;
}
.Bick_AddToCart_Button:hover{
    border: 1px solid black;
    background-color: yellow;
    color: black;
}